.settings{
    display: flex;
    width:100%;
    flex-direction: column;
    border-top: 1px solid white;
}
.settings__container{
    margin:0 0 0 20px;
}
.settings__server-status{
    margin:20px 0 0;
    font-size: 20px;

}
.settings-list{
    list-style: none;
    margin:0;
    padding: 0;
}
.settings-list__item{
    margin:10px 0 0;
}

.settings__add-button{
    margin:0;
    margin-right: 10px;
    min-height: 30px;
    background-color: #737272;
    color: white;
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
}
.settings__add-button:hover{
    opacity: 0.8;
}