.main {
  width: calc(100vw - 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100vh;
  position: relative;
  z-index: 0;
}

.main::before {
  content: '';
  background-color: $mainColor;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.footer {
  background: $gradient;
  height: 50px;
  width: $topDownWidth;
  display: flex;
  border-radius: $borderAngle $borderAngle 0 0;
  z-index: 1;
}

.footer__copyright {
  cursor: default;
  margin: auto auto auto 30px;
  text-shadow: $textShadow;
}

@keyframes logoRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animatedBackground {
  // Snow
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
}
