.page {
  background-color: rgb(88, 88, 88);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../images/background.jpg') no-repeat top left;
  background-size: cover;
  background-color: rgb(22 17 35);
  z-index: -2;
  color: $textColor;
  text-rendering: optimizeLegibility;
}

.page_dark {
  background-image: url("../images/background_night.jpg");
}

.footer {
  background: $gradient;
  height: 50px;
  width: $topDownWidth;
  display: flex;
  border-radius: $borderAngle $borderAngle 0 0;
  z-index: 1;
}

.footer_dark{
  background: $gradient_night;
}

.footer__copyright {
  cursor: default;
  margin: auto auto auto 30px;
  text-shadow: $textShadow;
}

@keyframes logoRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animatedBackground {
  // Snow
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
}
