.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.popup:hover {
  cursor: pointer;
}

.popup_opened {
  visibility: visible;
  display: flex;
  opacity: 1;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.popup__form {
  cursor: default;
  display: grid;
  grid-template-columns: 500px;
  grid-auto-flow: row;
  grid-gap: 20px;
  align-self: center;
}

.popup__container {
  cursor: default;
  min-width: 90vw;
  height: 60vh;
  background-color: #3f3d3d;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.popup__header {
  margin: 0;
  text-shadow: $textShadow;
}

.popup__button {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__button_submit {
  height: 40px;
}

.popup__button_add {
  height: 40px;
  width: 150px;
  background-color: black;

  &:hover {
    opacity: 0.8;
    background-color: #7c7c7c;
  }
}

.popup-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.popup__params {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}

.popup__submit-button:disabled {
  cursor: default;
  text-shadow: none;
  cursor: default;
  opacity: 0.7;
  background-color: #857d7d;
}

.popup__input {
  border-radius: 3px;
  height: 30px;
  font-size: 20px;
  border: none;
  box-shadow: $boxshadow;
  margin: 0;
}

.input-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.input-list__item {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-list span {
  margin: 5px 0;
  font-size: 20px;
}

.error__message {
  color: red;
}


