.products {
  margin-top: 20px;
  width: calc(100% - 30px);
}

.product-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, $productSize);
  gap: 15px;
}

.products__filter {
  margin: 0 0 15px 0;
}

.product {
  margin: 0;

  position: relative;
  width: $productSize;
  height: $productSize;
  padding: 0;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $productBorderRadius;
  box-shadow: 1px 1px 3px black;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  filter: opacity(95%);

  &:hover {
    scale: 103%;
    filter: opacity(100%);
    box-shadow: 1px 1px 10px $backgroundColor;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
    }
  }
}

.product__title {
  font-size: 20px;
    max-width:calc($productSize - 10px);
  text-align: center;
  margin: 10px auto 0;
  word-wrap: break-word;
  z-index: 2;
  text-shadow: 1px 1px black;
}

.product__price {
  position: absolute;
  right: 0;
  bottom: 0;
  justify-self: flex-end;
  margin: 0;
  display: flex;
  background-color: rgb(82, 148, 62);
  padding: 0 5px;
  border-radius: 3px 0 $productBorderRadius 0;
  z-index: 2;
}