.ServerListMenu {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  align-items: center;
  z-index: 2;
}

.ServerListMenu__content {
  margin: 0;
  display: flex;
  height: 300px;
  align-items: center;
}

.ServerListMenu__heading {
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: 0;
  padding-left: 10px;
  text-align: center;
  height: 100%;
  width: 40px;
  border-left:1px solid #4f1414;
  border-radius: 0 $borderAngle $borderAngle 0;
  background-color: $serverListColor;

  cursor: pointer;
}

.server-list {
  list-style: none;
  padding: 0;
  height: 100%;
  width: 0;
  background-color: rgb(44, 43, 43);
  visibility: hidden;
}

.server-list__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px #ff1a1a;
}

.server-list__item_offline {
  color: red;
}

.server-list_is-open {
  animation: 0.5s forwards ease-in-out open;
}

@keyframes open {
  from {
    width: 0;
  }
  to {
    width: 500px;
    visibility: visible;
  }
}

.server {
  display: flex;
  flex-direction: column;
}

.server__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}