@import './utils/variables.scss';
@import './vendor/fonts.css';
@import './blocks/App.scss';
@import './blocks/Header.scss';
@import './blocks/Admin.scss';
@import './blocks/Auth.scss';
@import './blocks/FailPage.scss';



$fontFamily: 'roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

body {
  margin: 0;
}

#root {
  background-color: rgb(88, 88, 88);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./images/background.jpg) no-repeat top left;
  background-size: cover;
  background-color: rgb(22 17 35);
  z-index: -2;
  color: rgb(221, 221, 221);
}

button {
  font-family: $fontFamily;
}
p{
  text-shadow: $textShadow;
}
a {
  color: white;
  text-decoration: none;
  padding: 0;
  text-shadow: $textShadow;
}
a:hover{
  opacity: 0.5;
}

