@import './utils/variables.scss';
@import './vendor/fonts.css';
@import './blocks/App.scss';
@import './blocks/Header.scss';
@import './blocks/Admin.scss';
@import './blocks/Auth.scss';
@import './blocks/FailPage.scss';
@import './blocks/Popup.scss';
@import './blocks/Loader.scss';
@import './blocks/ServerListMenu.scss';
@import './blocks/Server.scss';
@import './blocks/EditServerPopup.scss';
@import './blocks/RconManager.scss';
@import './blocks/Product.scss';
@import './blocks/Main.scss';
@import './blocks/input.scss';

body {
  margin: 0;
}

#root {

}

button {
  font-family: $fontFamily;
  color: $textColor;
  text-shadow: $textShadow;
  box-shadow: $boxshadow;
}

p {
  text-shadow: $textShadow;
}

a {
  color: white;
  text-decoration: none;
  padding: 0;
  text-shadow: $textShadow;
}

a:hover {
  opacity: 0.5;
}

